snippet ps "PS template" b
#include <bits/stdc++.h>

using namespace std;

int main(void) {
    cin.tie(nullptr)->sync_with_stdio(false);
    cin.exceptions(ios::badbit | ios::failbit);

    ${1:Add solution here}

    return 0;
}
endsnippet

snippet for "for loop" w
for ($1; $2; $3) {
    $4
}
endsnippet

snippet ld "lambda expression" b
function<$1($2)> ${3:name} = [&]($4) {
    $5
};
endsnippet
